<div class="profile-container">

  <div class="profile-card">

    <div class="profile-image">
      <img src="https://cdn-icons-png.flaticon.com/512/9131/9131529.png" alt="User">
    </div>

    <div class="profile-content">

      <h1>Motilal Turuk</h1>

      <h2>Java Full Stack Developer</h2>

      <button class="status-btn">
        Available for Opportunities
      </button>

      <p>
        Passionate about Java, Spring Boot, Angular and Database Management.
        Interested in building scalable web applications and continuously
        improving problem-solving skills.
      </p>

      <div class="skills">

        <span>Java</span>
        <span>Spring Boot</span>
        <span>Web Technologies</span>
        <span>DSA</span>
        <span>MySQL</span>
        <span>Git</span>

      </div>

      <div class="social-links">

        <a href="https://github.com/" target="_blank">
          GitHub
        </a>

      </div>

      <button class="back-btn" (click)="goBackToGroup()">
        Go Back to Group B
      </button>

    </div>

  </div>

</div>