<div class="billing-card neon-glow">
  <h3>👤 Checkout Customer Profile</h3>
  <div class="form-group">
    <label>Buyer Name</label>
    <input type="text" [(ngModel)]="customerName" placeholder="Enter Full Name" class="neo-input-dark">
  </div>
  <div class="form-group">
    <label>Mobile Contact</label>
    <input type="text" [(ngModel)]="mobileNumber" placeholder="Enter 10-digit number" class="neo-input-dark">
  </div>
  <button class="action-submit-btn" (click)="saveProfile()">Link to Checkout</button>
</div>