<div class="home-container">

  <img src="assets/Liza-photo.jpeg" class="profile-image">

  <h1>Subhashree Mohapatra</h1>

  <h3>Web Developer</h3>

  <p> 
    Passionate MCA student with a strong interest in Web Development,
    Java Programming, and Software Engineering. Currently improving my
    skills in Angular, Java, and Full Stack Development while building
    real-world projects and preparing for software developer roles.
  </p>

</div>

<div class="skills">
  <h2>Skills</h2>

  <span>Java</span>
  <span>Angular</span>
  <span>HTML</span>
  <span>CSS</span>
  <span>JavaScript</span>
  <span>SQL</span>
</div>

<div class="education">

  <h2>Education</h2>

  <div class="edu-card">
    <h3>Master of Computer Applications (MCA)</h3>
    <p>
      Currently pursuing MCA with a focus on Software Development,
      Java Programming, Web Technologies, and Full Stack Development.
    </p>
  </div>

  <div class="edu-card">
    <h3>Bachelor's Degree</h3>
    <p>
      Completed undergraduate studies and developed a strong foundation
      in computer applications and programming concepts.
    </p>
  </div>

</div>
 <div class="cards">

    <div class="card">
      <h2>💻 Development</h2>
      <p>Frontend + Backend applications using Angular & Java.</p>
    </div>

    <div class="card">
      <h2>📚 Learning</h2>
      <p>Currently improving DSA, Java and System Design.</p>
    </div>

    <div class="card">
      <h2>🚀 Goal</h2>
      <p>To become a Software Engineer in a top tech company.</p>
    </div>


<div class="return-btn">

  <button routerLink="/grp-e">
    Return to Home
  </button>

</div>