.sidebar {

  background: white;

  padding: 20px;

  border-radius: 15px;

  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

  height: fit-content;
}

.sidebar h2 {

  color: #15356b;

  margin-bottom: 20px;

  text-align: center;
}

.group-list {

  display: flex;

  flex-direction: column;

  gap: 10px;
}

.group-item {

  padding: 14px;

  background: #f4f6fb;

  border-radius: 10px;

  cursor: pointer;

  font-weight: bold;

  transition: 0.3s;
}

.group-item:hover {

  background: #dbe7ff;
}

.active {

  background: #15356b;

  color: white;
}