.card {

  background: white;

  padding: 20px;

  border-radius: 12px;

  box-shadow: 0 2px 10px rgba(0,0,0,0.1);

}

table {

  width: 100%;

  border-collapse: collapse;

  margin-top: 15px;

}

th,
td {

  border: 1px solid #ddd;

  padding: 10px;

  text-align: center;

}

th {

  background: #15356b;

  color: white;

}

h3 {

  color: #dc3545;

  margin-top: 20px;

}

.button-section {

  display: flex;

  justify-content: center;

  gap: 15px;

  margin-top: 25px;

  flex-wrap: wrap;

}

.generate-btn {

  background: #198754;

  color: white;

  border: none;

  padding: 12px 24px;

  border-radius: 8px;

  cursor: pointer;

  font-size: 15px;

  font-weight: 600;

  transition: 0.3s;

}

.generate-btn:hover {

  background: #157347;

  transform: translateY(-2px);

}

.clear-btn {

  background: #dc3545;

  color: white;

  border: none;

  padding: 12px 24px;

  border-radius: 8px;

  cursor: pointer;

  font-size: 15px;

  font-weight: 600;

  transition: 0.3s;

}

.clear-btn:hover {

  background: #bb2d3b;

  transform: translateY(-2px);

}