.dashboard{
  padding:20px;
  background:#f4f6fb;
  min-height:100vh;
}

.content-layout{
  display:flex;
  gap:20px;
}

.left-panel{
  width:30%;
}

.right-panel{
  width:70%;
}

@media(max-width:900px){

  .content-layout{
    flex-direction:column;
  }

  .left-panel,
  .right-panel{
    width:100%;
  }

}