<div class="member-page">

  <div class="profile-card">

    <img src="assets/rajshree.jpeg" alt="Rajshree Panda" class="profile-img">

    <h1>Rajshree Panda</h1>

    <h3>Web Development Intern</h3>

    <p class="bio">
      Passionate and detail-oriented aspiring web developer with a strong
      interest in HTML, CSS, JavaScript, Angular, and modern web technologies.
      Enthusiastic about building responsive and user-friendly applications
      while continuously learning and improving technical skills.
    </p>

    <div class="details">
      <p><strong>Email:</strong> rajshreepanda04@gmail.com</p>
      <p><strong>Location:</strong> Bhubaneswar, Odisha, India</p>
    </div>
    <div class="social-links">
    <a href="https://github.com/rajshree077" target="_blank">
      GitHub
    </a>

    <a href="https://www.linkedin.com/in/rajshree-panda-4548a3336/" target="_blank">
      LinkedIn
    </a>
  </div>

    <button (click)="goBackToGroup()">
      ← Back to Group F
    </button>

  </div>

</div>