.user-card{
    width:250px;
    padding:20px;
    border-radius:15px;
    background:#f3e5f5;
    text-align:center;
    box-shadow:0 2px 8px gray;
}

input{
    width:100%;
    padding:10px;
    margin-top:10px;
    border-radius:8px;
    border:1px solid #ccc;
}

button{
    margin-top:10px;
    width:100%;
    padding:10px;
    background:purple;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.status{
    color:green;
    font-weight:bold;
}