<mat-toolbar color="primary" class="toolbar">

  <mat-icon>groups</mat-icon>

  <span class="title">
    Smart Attendance Dashboard
  </span>

</mat-toolbar>

<div class="container">

  <!-- STAT CARDS -->

  <div class="stats-container">

    <mat-card class="stats-card present">

      <mat-icon>check_circle</mat-icon>

      <h2>{{ totalPresent }}</h2>

      <p>Present Students</p>

    </mat-card>

    <mat-card class="stats-card absent">

      <mat-icon>cancel</mat-icon>

      <h2>{{ totalAbsent }}</h2>

      <p>Absent Students</p>

    </mat-card>

  </div>

  <!-- FILTER SECTION -->

  <mat-card class="filter-card">

    <div class="filter-row">

      <mat-form-field appearance="outline">

        <mat-label>Select Date</mat-label>

        <input
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="selectedDate">

        <mat-datepicker-toggle
          matSuffix
          [for]="picker">

        </mat-datepicker-toggle>

        <mat-datepicker #picker></mat-datepicker>

      </mat-form-field>

      <mat-form-field appearance="outline">

        <mat-label>Search Student</mat-label>

        <input
          matInput
          [(ngModel)]="searchText"
          placeholder="Enter student name">

      </mat-form-field>

    </div>

  </mat-card>

  <!-- TABLE -->

  <mat-card class="table-card">

    <table
      mat-table
      [dataSource]="filteredStudents"
      class="mat-elevation-z8">

      <!-- NAME -->

      <ng-container matColumnDef="name">

        <th mat-header-cell *matHeaderCellDef>
          Student Name
        </th>

        <td mat-cell *matCellDef="let student">

          <mat-icon class="student-icon">
            person
          </mat-icon>

          {{student.name}}

        </td>

      </ng-container>

      <!-- STATUS -->

      <ng-container matColumnDef="status">

        <th mat-header-cell *matHeaderCellDef>
          Status
        </th>

        <td mat-cell *matCellDef="let student">

          <mat-chip
            [color]="student.status === 'Present'
              ? 'primary'
              : 'warn'"
            selected>

            {{student.status}}

          </mat-chip>

        </td>

      </ng-container>

      <!-- ACTION -->

      <ng-container matColumnDef="action">

        <th mat-header-cell *matHeaderCellDef>
          Action
        </th>

        <td mat-cell *matCellDef="let student">

          <button
            mat-raised-button
            color="accent"
            (click)="toggleAttendance(student)">

            Toggle

          </button>

        </td>

      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns">

      </tr>

      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns;">

      </tr>

    </table>

  </mat-card>

</div>
