<div class="member-page">

  <h1>Member 9</h1>

  <div class="profile-card">
    <img
      class="profile-img"
      src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
      alt="Profile Picture"
    />

    <h1>Subhalaxmi Sahoo</h1>

    <p><strong>SIC No:</strong> 25MMCE46</p>
    <p><strong>Course:</strong> MCA</p>
    <p><strong>Email:</strong> subhalaxmisahoo872@gmail.com</p>

    <h2>About Me</h2>
    <p>
      I am Subhalaxmi Sahoo, currently pursuing a Master of Computer
      Applications (MCA). I am passionate about programming, web development,
      and learning new technologies. I enjoy improving my technical skills and
      building creative applications that solve real-world problems.
    </p>

    <h2>Skills</h2>
    <div class="skills">
      <span>HTML</span>
      <span>CSS</span>
      <span>JavaScript</span>
      <span>TypeScript</span>
      <span>Angular</span>
    </div>

    <button routerLink="/grp-e">Go Back to Group E</button>
  </div>

</div>