<div class="member-container">

  <!-- LEFT NAV BAR -->
  <div class="member-sidebar">

    <button (click)="goBack()">← Back to HOME</button>

    <h3>Members</h3>

    <button (click)="goToMember1()">Member 1</button>
    <button (click)="goToMember2()">Member 2</button>
    <button (click)="goToMember3()">Member 3</button>
    <button (click)="goToMember4()">Amit Kumar Yash</button>
    <button (click)="goToMember5()">Member 5</button>
    <button (click)="goToMember6()">Member 6</button>
    <button (click)="goToMember7()">Member 7</button>
    <button (click)="goToMember8()">Member 8</button>
    <button (click)="goToMember9()">Anil Kumar Nayak</button>
    <button (click)="goToMember10()">Member 10</button>
    <button (click)="goToMember11()">Member 11</button>

  </div>

  <!-- MAIN CONTENT AREA -->
  <div class="member-content">

    <h1>GRP-G</h1>

  </div>

</div>