.profile-page{
    background:#f4f7fc;
    min-height:100vh;
    padding:30px;
    max-width:1100px;
    margin:auto;
}

/* Header Card */

.profile-header-card{
    background:white;
    border-radius:20px;
    padding:35px;
    display:flex;
    gap:40px;
    align-items:center;
    margin-bottom:25px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.profile-image{
    width:220px;
    height:220px;
    object-fit:cover;
    border-radius:20px;
    border:4px solid #2563eb;
}

.profile-info{
    flex:1;
}

.intern-badge{
    background:#dbeafe;
    color:#2563eb;
    padding:8px 15px;
    border-radius:30px;
    font-size:14px;
    font-weight:600;
}

.profile-info h1{
    margin-top:15px;
    font-size:48px;
    color:#1e293b;
}

.role{
    font-size:18px;
    color:#64748b;
    margin-bottom:15px;
}

.description{
    color:#475569;
    line-height:1.8;
    font-size:16px;
    max-width:650px;
}

/* Back Button */

.back-btn{
    margin-top:20px;
    padding:12px 22px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    cursor:pointer;
    font-weight:600;
    transition:.3s;
}

.back-btn:hover{
    background:#1d4ed8;
}

/* Section Cards */

.section-card{
    background:white;
    padding:25px 30px;
    border-radius:20px;
    margin-bottom:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.section-card h2{
    color:#2563eb;
    margin-bottom:15px;
    font-size:24px;
}

.section-card p{
    color:#475569;
    line-height:1.8;
}

/* Skills */

.skills-container{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.skills-container span{
    background:#dbeafe;
    color:#2563eb;
    padding:10px 16px;
    border-radius:30px;
    font-size:14px;
    font-weight:600;
}

/* Projects */

.project-box{
    background:#f8fafc;
    border-left:5px solid #2563eb;
    padding:18px;
    margin-top:15px;
    border-radius:10px;
}

.project-box h3{
    color:#1e293b;
    margin-bottom:8px;
}

.project-box p{
    color:#64748b;
}

/* Mobile Responsive */

@media(max-width:768px){

    .profile-header-card{
        flex-direction:column;
        text-align:center;
    }

    .profile-image{
        width:180px;
        height:180px;
    }

    .profile-info h1{
        font-size:36px;
    }
}
