.profile-container{
    min-height:100vh;
    background: linear-gradient(135deg,#0f172a,#1e293b);
    padding:40px;
    color:white;
}

.back-btn{
    background:#2563eb;
    border:none;
    color:white;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
    margin-bottom:30px;
}

.profile-card{
    max-width:1000px;
    margin:auto;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(10px);
    border-radius:20px;
    display:flex;
    gap:40px;
    padding:40px;
    align-items:center;
    box-shadow:0 0 20px rgba(0,0,0,0.3);
}

.profile-img{
    width:250px;
    height:250px;
    object-fit:cover;
    border-radius:50%;
    border:5px solid #60a5fa;
}

.tag{
    color:#60a5fa;
    font-weight:600;
}

.highlight{
    color:#38bdf8;
}

.right-section h3{
    color:#cbd5e1;
    margin-bottom:15px;
}

.skills{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    margin:20px 0;
}

.skills span{
    background:#334155;
    padding:8px 15px;
    border-radius:20px;
}

.buttons button{
    margin-right:10px;
    padding:12px 20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    background:#3b82f6;
    color:white;
}
