<div class="notification-page">

  <div class="notification-header">
    <h1>🔔 Notification Center</h1>
    <p>Track customer updates, orders and system activities</p>
  </div>

  <div class="notification-card success">

    <div class="notification-icon">
      ✅
    </div>

    <div class="notification-content">
      <h3>Customer Saved Successfully</h3>
      <p>
        Customer information has been stored in the system and is ready for billing.
      </p>
      <span class="time">Just Now</span>
    </div>

  </div>

  <div class="notification-card info">

    <div class="notification-icon">
      🛒
    </div>

    <div class="notification-content">
      <h3>Order Confirmed</h3>
      <p>
        Your products have been added and the order has been processed successfully.
      </p>
      <span class="time">2 Minutes Ago</span>
    </div>

  </div>

  <div class="success-section">

    <div class="success-icon">
      🎉
    </div>

    <h1>Order Successful</h1>

    <h3>Thank You For Shopping With Us</h3>

    <p>
      Your order has been placed successfully.
      We appreciate your trust and look forward to serving you again.
    </p>

    <button
      routerLink="/product-list"
      class="continue-btn">

      Continue Shopping →

    </button>

  </div>

</div>