.navbar{
  background:#0a66c2;
  color:white;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 30px;
}

.navbar ul{
  display:flex;
  gap:20px;
  list-style:none;
}

.navbar a{
  color:white;
  text-decoration:none;
}