<div class="member-container">

  <!-- LEFT NAV BAR -->
  <div class="member-sidebar">

    <button (click)="goBack()">← Back to HOME</button>

    <h3>Members</h3>
<!--Gayatri Pati
Gaurav Patra
Ayush Guharay
Anup Mohanty
Adil Khan
Anurag Mohanty
Debashis Tripathy
Safaq Jamal
Sohan Mohanty
Hrushikesh Pattnaik-->
    <button (click)="goToMember1()">Gayatri Pati</button>
    <button (click)="goToMember2()">Gaurav Patra</button>
    <button (click)="goToMember3()">Ayush Guharay</button>
    <button (click)="goToMember4()">Anup Mohanty</button>
    <button (click)="goToMember5()">Adil Khan</button>
    <button (click)="goToMember6()">Anurag Mohanty</button>
    <button (click)="goToMember7()">Debashis Tripathy</button>
    <button (click)="goToMember8()">Safaq Jamal</button>
    <button (click)="goToMember9()">Sohan Mohanty</button>
    <button (click)="goToMember10()">Hrushikesh Pattnaik</button>

  </div>

  <!-- MAIN CONTENT AREA -->
  <div class="member-content">

    <h1>GRP-C</h1>

  </div>

</div>
