<div class="container">
  <div class="card">
    <h1>🎓 Welcome to 🎓</h1>
    <h2>Java Full Stack + Angular + MySQL + AI</h2>

    <div class="info">
      <span class="label">👤 Name</span>
      <span class="value">Mama Bisoi</span>
    </div>

    <div class="info">
      <span class="label">🆔 SIC</span>
      <span class="value">25MMCF38</span>
    </div>

    <div class="info">
      <span class="label">🏫 University</span>
      <span class="value">Silicon University</span>
    </div>

    <div class="info">
      <span class="label">📚 Branch</span>
      <span class="value">MCA</span>
    </div>

    <button>Welcome</button>
  </div>
</div>