<!--
<div class="container">
  <app-nav-bar></app-nav-bar>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
-->
<div class="app-container">

  <header class="header">
    <h1>Silicon Internship Portal 2026</h1>
  </header>

  <div class="main-section">
    <app-nav-bar></app-nav-bar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer class="footer">
    © 2026 Silicon Internship Program. All Rights Reserved.
  </footer>

</div>
