.sidebar{
  width:300px;
  background:#0f172a;
  color:white;
  height:100vh;
  overflow-y:auto;
  padding:20px;
}

.team-name{
  background:#1e293b;
  padding:15px;
  margin-top:15px;
  border-radius:8px;
  cursor:pointer;
  font-size:18px;
  font-weight:bold;
}

.team-name:hover{
  background:#2563eb;
}

.member-list{
  margin-left:15px;
  margin-top:10px;
}

.member-name{
  background:#334155;
  padding:10px;
  margin-top:8px;
  border-radius:6px;
  cursor:pointer;
}

.member-name:hover{
  background:#38bdf8;
}