<div class="customer-wrapper">

  <div class="customer-banner">
    <div>
      <h1>👤 Customer Profile</h1>
      <p>Manage customer details and billing information</p>
    </div>

    <div class="customer-id">
      <span>Customer ID</span>
      <h3>#CUS2026</h3>
    </div>
  </div>

  <div class="customer-form-card">

    <div class="section-title">
      <h2>Personal Information</h2>
    </div>

    <div class="form-grid">

      <div class="input-box">
        <label>Full Name</label>
        <input
          type="text"
          [(ngModel)]="ps.customer.name"
          placeholder="Enter customer name">
      </div>

      <div class="input-box">
        <label>Mobile Number</label>
        <input
          type="text"
          [(ngModel)]="ps.customer.mobile"
          placeholder="Enter mobile number">
      </div>
      <mat-form-field appearance="outline" class="full-width">
  <mat-label>Email</mat-label>
  <input matInput [(ngModel)]="customer.email">
  <mat-icon matSuffix>email</mat-icon>
</mat-form-field>

      <div class="input-box full-row">
        <label>Address</label>
        <textarea
          rows="4"
          [(ngModel)]="ps.customer.address"
          placeholder="Enter complete address">
        </textarea>
      </div>

    </div>

    <div class="customer-stats">

      <div class="stat-box">
        <h4>Orders</h4>
        <h2>24</h2>
      </div>

      <div class="stat-box">
        <h4>Total Purchase</h4>
        <h2>₹12,450</h2>
      </div>

      <div class="stat-box">
        <h4>Status</h4>
        <h2>Active</h2>
      </div>

    </div>

    <div class="button-group">

      <button class="cancel-btn">
        Cancel
      </button>

      <button
        class="save-btn"
        (click)="saveCustomer()">

        Save Customer →
      </button>

    </div>

  </div>

</div>