<div class="member-container">

    <!-- Sidebar -->

    <div class="member-sidebar">

        <button class="back-btn" (click)="goBack()">
            ← Home
        </button>

        <h3 style="color:white">Members</h3>

        <button (click)="goToMember1()">Soyngsruti</button>
        <button (click)="goToMember2()">Swagat</button>
        <button (click)="goToMember3()">Samikshya</button>
        <button (click)="goToMember4()">Archana</button>
        <button (click)="goToMember5()">Roshan Mishra</button>
        <button (click)="goToMember6()">Satyabrat</button>
        <button (click)="goToMember7()">Priyanshu Sekhar Badhei</button>
        <button (click)="goToMember8()">Ankit</button>
        <button (click)="goToMember9()">Ronit</button>

    </div>


    <!-- Main Content -->

    <div class="member-content">

        <div class="welcome-card">

            <h1>GROUP A</h1>

            <p class="tagline">

                Learn • Build • Collaborate

            </p>

            <p class="desc">

                Welcome to Group A. We are a team of students
                working together to build projects, learn new
                technologies and improve our development skills.

            </p>

            <div class="stats">

                <div class="box">

                    <h2>9</h2>

                    <span>Members</span>

                </div>

                <div class="box">

                    <h2>2026</h2>

                    <span>Batch</span>

                </div>

                <div class="box">

                    <h2>5+</h2>

                    <span>Projects</span>

                </div>

            </div>

        </div>

    </div>

</div>