<div class="dashboard-container">

    <div class="dashboard-header">

        <h1>
            Product Management System
        </h1>

        <p>
            Skincare & Haircare Store Management
        </p>

    </div>

    <div class="category-navbar">

  <button
    class="category-btn"
    [class.active]="selectedCategory === 'Skincare'"
    (click)="selectCategory('Skincare')">

    Skincare

  </button>

  <button
    class="category-btn"
    [class.active]="selectedCategory === 'Haircare'"
    (click)="selectCategory('Haircare')">

    Haircare

  </button>

  <button
    class="category-btn"
    [class.active]="selectedCategory === 'Perfumes'"
    (click)="selectCategory('Perfumes')">

    Perfumes

  </button>

  <button
    class="category-btn"
    [class.active]="selectedCategory === 'Lip Care'"
    (click)="selectCategory('Lip Care')">

    Lip Care

  </button>

  <button
    class="category-btn"
    [class.active]="selectedCategory === 'Foot Care'"
    (click)="selectCategory('Foot Care')">

    Foot Care

  </button>

  <button
    class="category-btn"
    [class.active]="selectedCategory === 'Body Care'"
    (click)="selectCategory('Body Care')">

    Body Care

  </button>

</div>

<div class="dashboard-grid">
  <section class="product-panel glass-card">
    <app-product-list
      [selectedCategory]="selectedCategory"
      (productAdded)="receiveProduct($event)">
    </app-product-list>
  </section>

  <aside class="side-panel">
    <section class="glass-card">
      <app-customer-details
        (customerAdded)="receiveCustomer($event)">
      </app-customer-details>
    </section>

    <section class="glass-card">
      <app-billing

[cartItems]="selectedProducts"

[customer]="customerData"

(billGenerated)="saveBill()">

</app-billing>
    </section>
  </aside>
</div>
<div class="history-section">

  <h2>

    Product History

  </h2>
<div class="history-grid">

  <div
  class="history-card"
  *ngFor="let bill of productHistory">

    <h3>
      {{ bill.invoiceNo }}
    </h3>

    <p>
      Customer:
      {{ bill.customer.name }}
    </p>

    <p>
      Date:
      {{ bill.date | date }}
    </p>

    <p class="amount">
      ₹{{ bill.amount }}
    </p>

  </div>

</div>
  </div>

</div>