* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.member-page {
  min-height: 100vh;
  padding: 40px;

  background:
    radial-gradient(circle at top left, #00b4ff20, transparent 25%),
    radial-gradient(circle at bottom right, #0066ff30, transparent 25%),
    #050816;

  color: white;
  font-family: 'Segoe UI', sans-serif;
}

.dashboard-container {
  max-width: 1500px;
  margin: auto;
}

/* BACK BUTTON */

.back-btn {
  position: fixed;
  top: 20px;
  left: 20px;

  z-index: 1000;

  border: none;
  cursor: pointer;

  padding: 12px 20px;

  border-radius: 12px;

  color: white;

  background: rgba(243, 9, 9, 0.859);

  backdrop-filter: blur(10px);

  transition: .3s;
}

.back-btn:hover {
  transform: translateY(-2px);

  background: rgba(0,180,255,0.2);
}

/* HERO SECTION */

.hero-panel {
  display: flex;
  align-items: center;
  gap: 40px;

  min-height: 10vh;

  padding: 30px;

  border-radius: 30px;

  background: linear-gradient(
    90deg,
    #010931,
    #02638c
  );


  border: 1px solid rgba(0,180,255,0.25);

  backdrop-filter: blur(20px);

  box-shadow:
    0 0 20px rgba(0,180,255,0.2),
    0 0 60px rgba(0,180,255,0.15);

  position: relative;
  overflow: hidden;
}

.hero-panel::before {
  content: "";

  position: absolute;

  width: 500px;
  height: 500px;

  top: -200px;
  right: -150px;

  border-radius: 50%;

  background: rgba(0,180,255,0.08);

  filter: blur(50px);
}

/* PROFILE IMAGE */

.profile-section img {
  width: 200px;
  height: 200px;

  object-fit: cover;

  border-radius: 25px;

  border: 2px solid #00b4ff;

  box-shadow:
    0 0 20px #00b4ff,
    0 0 40px rgba(0,180,255,0.5),
    0 0 80px rgba(0,180,255,0.3);

  transition: 0.4s;
}

.profile-section img:hover {
  transform: scale(1.03);
}

/* INFO SECTION */

.info-section {
  flex: 1;
}

.tag {
  display: inline-block;

  padding: 08px 16px;

  border-radius: 10px;

  background: linear-gradient(
    90deg,
    #00b4ff,
    #032a64
  );

  color: white;

  font-weight: 500;

  letter-spacing: 2px;

  box-shadow:
    0 0 15px rgba(0,180,255,0.5);
}

.info-section h2 {
  font-size: 2rem;
  font-weight: 700;

  letter-spacing: 5px;

  margin-top: 20px;

  color: white;

  text-transform: uppercase;

  text-shadow:
    0 0 10px #00b4ff,
    0 0 20px #013a52,
    0 0 40px #00b4ff;
}

.cyber-subtitle {
  font-size: 2rem;

  letter-spacing: 12px;

  color: #7dd3fc;

  margin-bottom: 25px;

  text-transform: uppercase;
}

.info-section h3 {
  color: #7dd3fc;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.info-section p {
  line-height: 1.8;
  max-width: 700px;
  font-size: 1.1rem;
  color: #cbd5e1;
}

/* GITHUB BUTTON */

.github-container {
  margin-top: 30px;
}

.github-container a {
  text-decoration: none;

  color: white;

  padding: 15px 35px;

  border-radius: 12px;

  background: linear-gradient(
    90deg,
    #01131b,
    #032a66
  );

  font-weight: 700;

  letter-spacing: 1px;

  display: inline-block;

  box-shadow:
    0 0 15px rgba(0,180,255,0.5);

  transition: 0.3s;
}

.github-container a:hover {
  transform: translateY(-3px);

  box-shadow:
    0 0 25px rgba(0,180,255,0.8);
}

/* SECTION TITLE */

.section-title {
  margin-top: 40px;
  margin-bottom: 15px;
}

.section-title h2 {
  font-size: 1.2rem;
  letter-spacing: 4px;
}

/* INFO GRID */

.data-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));

  gap: 15px;

  margin-top: 20px;
}

.data-card {
  padding: 10px;

  border-radius: 10px;

  background: rgba(255,255,255,0.04);

  border: 1px solid rgba(0,180,255,0.15);

  transition: 0.3s;
}

.data-card:hover {
  transform: translateY(-8px);

  box-shadow:
    0 0 15px rgba(0,180,255,0.3);
}

.data-card h4 {
  color: #7dd3fc;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.data-card p {
  font-size: 1.1rem;
}

/* SKILLS */

.skills-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit,minmax(70px,1fr));

  gap: 15px;
}

.skill-card {
  text-align: center;

  padding: 15px;

  border-radius: 18px;

  font-size: 0.7rem;
  font-weight: 600;

  background: rgba(255,255,255,0.04);

  border: 1px solid rgba(0,180,255,0.15);

  transition: 0.3s;
}

.skill-card:hover {
  transform: translateY(-8px);

  box-shadow:
    0 0 20px rgba(0,180,255,0.4);
}

/* STATUS */

.status-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit,minmax(280px,1fr));

  gap: 15px;

  margin-bottom: 10px;
}

.status-card {
  padding: 10px;

  border-radius: 10px;

  background: rgba(255,255,255,0.04);

  border: 1px solid rgba(0,180,255,0.15);
}

.status-card span {
  color: #7dd3fc;
  letter-spacing: 1px;
}

.status-card h3 {
  margin-top: 10px;
  font-size: 1.1rem;
}

/* RESPONSIVE */

@media (max-width: 500px) {

  .hero-panel {
    flex-direction: column;
    text-align: center;
    min-height: auto;
  }

  .profile-section img {
    width: 260px;
    height: 260px;
  }

  .info-section h1 {
    font-size: 3rem;
  }

  .cyber-subtitle {
    font-size: 1.2rem;
    letter-spacing: 5px;
  }
}

.attendance-btn {
  margin-top: 15px;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}