<div class="member-page">

  <button class="back-btn" (click)="goBackToGroup()">
    ← GROUP D
  </button>

  <div class="dashboard-container">

    <!-- HERO SECTION -->
    <div class="hero-panel">
   

      <div class="profile-section">
        <img src="assets/chandan.jpeg" alt="Chandan Kumar Sahu">
      </div>

      <div class="info-section">

        <span class="tag">TEAM LEADER</span>

        <h2>CHANDAN KUMAR SAHU</h2>

        <h3>Angular Developer</h3>

        <p>
          Passionate developer focused on building scalable,
          modern, and interactive web applications using Angular,
          TypeScript, and modern frontend technologies.
        </p>

        <div class="github-container">
          <a
            href="https://github.com/chandankumarsahu-stack"
            target="_blank"
          >
            View GitHub →
          </a>
        </div>
        <div class="action-buttons">
         <button class="attendance-btn" (click)="openAttendance()">
            📋 Attendance Management
          </button>
        </div>
        <button class="attendance-btn"
            (click)="openProductManagement()">

              🛒 Product Management

        </button>
      </div>


    </div>

    <!-- INFO GRID -->

    <div class="data-grid">

      <div class="data-card">
        <h4>UNIVERSITY</h4>
        <p>Silicon University</p>
      </div>

      <div class="data-card">
        <h4>LOCATION</h4>
        <p>Bhubaneswar</p>
      </div>

      <div class="data-card">
        <h4>BRANCH</h4>
        <p>ECE</p>
      </div>

      <div class="data-card">
        <h4>YEAR</h4>
        <p>3rd Year</p>
      </div>

    </div>

    <!-- SKILLS -->

    <div class="section-title">
      <h2>TECH STACK</h2>
    </div>

    <div class="skills-grid">

      <div class="skill-card">Angular</div>
      <div class="skill-card">TypeScript</div>
      <div class="skill-card">JavaScript</div>
      <div class="skill-card">HTML5</div>
      <div class="skill-card">CSS3</div>
      <div class="skill-card">Git</div>
      <div class="skill-card">GitHub</div>
      <div class="skill-card">Responsive UI</div>

    </div>

    <!-- SYSTEM STATUS -->

    <div class="section-title">
      <h2>PROFILE STATUS</h2>
    </div>

    <div class="status-grid">

      <div class="status-card">
        <span>ROLE</span>
        <h3>TEAM LEADER</h3>
      </div>

      <div class="status-card">
        <span>SPECIALIZATION</span>
        <h3>ANGULAR DEVELOPMENT</h3>
      </div>

      <div class="status-card">
        <span>STATUS</span>
        <h3>ACTIVE</h3>
      </div>

    </div>

  </div>

</div>