<div class="member-page">

  <h1>Sukanya Subhadarshini</h1>

  <div class="profile-card">

    <img src="assets/images/image.png" alt="Profile">

    <h2>Sukanya Subhadarshini</h2>

    <p class="role">Frontend Developer | Angular Learner</p>

    <div class="info">
      <p><strong>🎓 Education:</strong> Bachelor of Technology in Electronics and Communication Engineering</p>
      <p><strong>💻 Skills:</strong> HTML, CSS, JavaScript, Angular</p>
      <p><strong>🚀 Projects:</strong> Real Estate Management Portal, AI Career Guidance, Rudrastakam Website , Dmodarstrotram website</p>
    </div>


    <div class="social-links">

  <a href="https://github.com/sukanya-subhadarshini" target="_blank">
    GitHub
  </a>

  <a href="https://www.linkedin.com/in/sukanya-subhadarshini-8362b5309/" target="_blank">
    LinkedIn
  </a>

</div>

<button mat-raised-button color="primary" routerLink="/grp-f/member6-attendance">
  Attendance
</button>

<button
  mat-raised-button
  class="whatsapp-btn"
  routerLink="/grp-f/member6-chat">
  WhatsApp Chat
</button>

<br>


    <button (click)="goBackToGroup()">
      Go back to Group F
    </button>

  </div>

</div>