.customer-card {

  background:
    rgba(255,255,255,0.08);

  backdrop-filter: blur(10px);

  border-radius: 20px;

  padding: 25px;
}

.customer-card input {

  width: 100%;

  padding: 12px;

  border-radius: 10px;

  border: none;

  margin-top: 8px;
  margin-bottom: 15px;
}

.customer-card button {

  width: 100%;

  padding: 12px;

  border: none;

  border-radius: 10px;

  cursor: pointer;
}