<div class="member-page">

    <div class="profile-card">

        <div class="profile-image">
            <img src="assets/Anup.jpeg" alt="Anup Mohanty">
        </div>

        <h1>ANUP MOHANTY</h1>

        <p class="designation">Frontend Developer</p>

        <p class="description">
            Passionate about Web Development, Angular, Cloud Computing
            and Cybersecurity. Building modern and responsive web
            applications.
        </p>

        <button (click)="goBackToGroup()">
            Go back to Group C
        </button>

    </div>

</div>