.member-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        135deg,
        #0f172a,
        #1e293b,
        #334155
    );

    padding: 20px;
}

.profile-card {
    width: 420px;
    background: rgba(255,255,255,0.08);

    border: 1px solid rgba(255,255,255,0.15);

    border-radius: 25px;
    padding: 40px;

    text-align: center;

    box-shadow:
        0 20px 40px rgba(0,0,0,0.3);

    transition: 0.3s;
}

.profile-card:hover {
    transform: translateY(-8px);
}

.profile-image {
    width: 160px;
    height: 160px;
    margin: 0 auto 25px;

    border-radius: 50%;
    overflow: hidden;

    border: 5px solid white;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-card h1 {
    color: white;
    font-size: 42px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.designation {
    color: #60a5fa;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.description {
    color: #d1d5db;
    line-height: 1.7;
    margin-bottom: 30px;
}

button {
    background: linear-gradient(
        135deg,
        #2563eb,
        #1d4ed8
    );

    color: white;
    border: none;

    padding: 14px 30px;
    font-size: 16px;
    font-weight: 600;

    border-radius: 12px;
    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(37,99,235,0.4);
}