<div class="resume-page" [class.dark-mode]="isDarkMode">

  <div class="theme-toggle">
    <button (click)="toggleTheme()">
      {{ isDarkMode ? '☀ Light Mode' : '🌙 Dark Mode' }}
    </button>
  </div>

  <div class="hero">
    <img src="assets/safaq.jpeg" alt="Profile" class="profile-pic">

    <h1>Safaq Jamal</h1>

    <p class="subtitle">
      B.Tech Student • Group C • Member 8
    </p>
  </div>

  <section class="card">
    <h2>About Me</h2>

    <p>
      Currently pursuing B.Tech and participating in the Silicon Internship Program.
      Interested in frontend development, UI design and building practical web applications.
      I enjoy solving problems, collaborating in teams and continuously learning new technologies.
    </p>
  </section>
  <section class="card">
    <h2>Education</h2>

    <h3>Bachelor of Technology</h3>
git branch -vv
    <p>Silicon Institute of Technology</p>

    <p class="year">2022 - Present</p>
  </section>

  <section class="card">
    <h2>Skills</h2>

    <div class="skills">

      <span>Angular</span>
      <span>HTML</span>
      <span>CSS</span>
      <span>REACT</span>
      <span>JavaScript</span>
      <span>Java</span>
      <span>JSP</span>
      <span>JDBC</span>
      <span>PostgreSQL</span>
      <span>Git</span>
      <span>GitHub</span>
      <span>Bootstrap</span>

    </div>
  </section>

  <section class="card">
    <h2>Currently Learning</h2>

    <div class="learning">

      <div>Angular Routing</div>
      <div>REST APIs</div>
      <div>TypeScript</div>
      <div>Git Collaboration</div>

    </div>
  </section>

  <section class="card">
    <h2>Projects</h2>

    <div class="project-grid">

      <div class="project-card"
           (click)="openGithub()">

        <h3>IRCTC Clone</h3>

        <p>
          Railway reservation application built using
          Java, JSP, JDBC and PostgreSQL.
        </p>

      </div>

      <div class="project-card"
           (click)="openGithub()">

        <h3>Developer Portfolio</h3>

        <p>Personal portfolio website showcasing projects and technical skills.</p>

      </div>

      <div class="project-card"
      (click)="openGithub()">

  <h3>ShopEase</h3>

  <p>E-commerce web application built using Angular featuring product listings, shopping cart functionality, responsive UI, 
    and seamless user experience.
  </p>

</div>

    </div>

  </section>

  <section class="card">
    <h2>Achievements</h2>

     <ul>
    <li>Represented college in various badminton tournaments and team competitions.</li>

    <li>Actively participated in organizing, coordinating and hosting academic and cultural events.</li>

    <li>Developed strong communication and public speaking skills through anchoring and stage management activities.</li>

    <li>Contributed to collaborative projects and technical initiatives as part of internship and academic programs.</li>

    <li>Consistently engaged in learning new technologies and enhancing problem-solving abilities through hands-on projects.</li>
  </ul>
  </section>

  <section class="card">
    <h2>Contact</h2>

    <p>📍 Bhubaneswar, Odisha</p>
    <p>📧 safaqjamal11@gmail.com</p>
    <p>💻 github.com/safaq11</p>
  </section>
   <button class="attendance-btn"
        (click)="openAttendance()">
  Attendance Management System
</button>
  <div class="action-bar">

    <button class="back-btn"
            (click)="goBackToGroup()">
      ← Back to Group C
    </button>
  </div>
   
</div>