<div class="profile-container">

  <div class="background-circle circle1"></div>
  <div class="background-circle circle2"></div>

  <div class="profile-card">

    <div class="image-section">
      <img src="assets/rohan.jpg" alt="Profile">
    </div>
    

    <div class="content-section">

      <h1>Rohan Nayak</h1>

      <h3>Java Full Stack Developer</h3>

      <div class="status-badge">
        Available for Opportunities
      </div>
      <p>
        Passionate about Java, Spring Boot, Angular and Data Structures.
        Interested in building scalable applications and continuously
        improving problem-solving skills.
      </p>

      <div class="skills">

        <span>Java</span>
        <span>Spring Boot</span>
        <span>Angular</span>
        <span>MySQL</span>
        <span>Git</span>
        <span>DSA</span>

      </div>

      <div class="social-links">

        <a href="https://github.com/Rohan582-techie" target="_blank" class="social-btn">

          <img src="assets/github.png" alt="GitHub">

          <span>GitHub</span>

        </a>

        <a href="https://www.linkedin.com/in/rohan-kumar-nayak-358a573ab/" target="_blank" class="social-btn">

          <img src="assets/linkedin.png" alt="LinkedIn">

          <span>LinkedIn</span>

        </a>

      </div>

    </div>

  </div>

</div>