<div class="container">

  <button class="back-btn" (click)="goBackToGroup()">
    ← Back to Group D
  </button>

  <div class="profile-card">
    <div class="profile-content">

      <div class="left-section">
        <div class="profile-image">
    <span>👩‍💻</span>
</div>
        <button class="attendance-btn" (click)="goToAttendance()">
            Take Attendance
        </button>
      </div>

      <div class="right-section">
        <h2>Java Full Stack Developer</h2>

        <div class="status">
            Welcome to Java Full Stack + Angular + MySQL + AI
        </div>

        <div class="details">
          <p><strong>Name :</strong> Mama Bisoi</p>
          <p><strong>SIC :</strong> 25MMCF38</p>
          <p><strong>Branch :</strong> MCA</p>
        </div>

        <p class="about">
          MCA student at Silicon University with a strong interest in Java Full Stack Development,
          Angular, MySQL, and Artificial Intelligence. Passionate about building modern web
          applications, learning emerging technologies, and continuously improving problem-solving
          and software development skills through practical projects and collaborative work.
        </p>

        <div class="skills">
            <span>Java</span>
            <span>Spring Boot</span>
            <span>Angular</span>
            <span>MySQL</span>
            <span>AI</span>
            <span>Git</span>
        </div>

        <div class="github-btn">
    <a href="https://github.com/mamabisoi/SiliconInternship2026" target="_blank">
        <button>GitHub</button>
    </a>
</div>
      </div>

    </div>
  </div>
</div>