<app-navbar
  (navigate)="showSection($event)">
</app-navbar>

<div *ngIf="currentSection === 'home'">
  <app-home></app-home>
</div>

<div *ngIf="currentSection === 'services'">
  <app-services></app-services>
</div>

<div *ngIf="currentSection === 'projects'">
  <app-projects></app-projects>
</div>

<div *ngIf="currentSection === 'attendance'">
  <app-attendance></app-attendance>
</div>

<div *ngIf="currentSection === 'billing'">
  <app-billing-home
    (openCart)="showSection('cart')"
    (exitBilling)="showSection('home')">
  </app-billing-home>
</div>

<div *ngIf="currentSection === 'cart'">
  <app-billing-cart (backToBilling)="showSection('billing')"></app-billing-cart>
</div>
