<div class="chat-page">

    <button
        class="back-btn"
        routerLink="/grp-c/member9">
        ← Back To Portfolio
    </button>

    <div class="chat-header">

        <h1>💬 WhatsApp Chat Application</h1>

        <p>
            Real-Time Communication using Angular,
            Subject, Observable and Shared Services
        </p>

    </div>

    <div class="chat-container">

        <div class="panel">
            <app-user-a></app-user-a>
        </div>

        <div class="panel">
            <app-chat-window></app-chat-window>
        </div>

        <div class="panel">
            <app-user-b></app-user-b>
        </div>

    </div>

</div>