<div class="member-page">

  <img src="assets/images/bg.jpg.jpeg" alt="Anjali Mishra" class="profile-img">

  <h1>Anjali Mishra</h1>

  <h3 class="role">Frontend Developer | Angular Learner</h3>

  <p class="about">
    Passionate Frontend Developer and Angular Learner with a strong interest
    in building responsive, user-friendly and modern web applications using
    Angular, HTML, CSS, JavaScript and TypeScript.
  </p>

  <div class="info-container">

    <div class="info-card">
      <h2>🎓 Education</h2>
      <p>
        B.Tech Student<br>
        Computer Science Engineering<br>
        Silicon University, Bhubaneswar
      </p>
    </div>

    <div class="info-card">
      <h2>💻 Skills</h2>
      <p>
        HTML, CSS, JavaScript<br>
        Angular, TypeScript<br>
        Git & GitHub
      </p>
    </div>

    <div class="info-card">
      <h2>🚀 Projects</h2>
      <p>
        Silicon Internship Portal<br>
        Angular Profile Dashboard<br>
        Portfolio Website<br>
        Real Estate Portal
      </p>
    </div>

  </div>

  <div class="social-links">

    <a href="https://github.com/anjalimishra84009" target="_blank">
      GitHub
    </a>

    <a href="https://instagram.com/ak_mishra562" target="_blank">
      Instagram
    </a>

    <a href="https://www.linkedin.com/in/anjali-mishra-a5bb52414"
       target="_blank">
      LinkedIn
    </a>

  </div>

  <button (click)="goBackToGroup()">
    Go Back to Group F
  </button>

</div>