.member-page {
  max-width: 1100px;
  margin: 30px auto;
  padding: 40px;
  text-align: center;
  border-radius: 20px;

  background: linear-gradient(
    135deg,
    #1e293b,
    #334155,
    #475569
  );

  color: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;

  border: 5px solid #facc15;

  box-shadow: 0 0 25px rgba(250,204,21,0.5);
}

h1 {
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 4rem;
  color: white;
}

.role {
  color: #facc15;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 35px;
}

.about {
  max-width: 850px;
  margin: auto;
  font-size: 1.3rem;
  line-height: 1.8;
  margin-bottom: 50px;
}

.info-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.info-card {
  width: 280px;
  padding: 25px;
  border-radius: 20px;

  background: rgba(255,255,255,0.08);

  backdrop-filter: blur(10px);

  transition: 0.3s;
}

.info-card:hover {
  transform: translateY(-8px);
}

.info-card h2 {
  color: #facc15;
  margin-bottom: 20px;
}

.info-card p {
  color: white;
  line-height: 1.8;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.social-links a {
  text-decoration: none;
  color: white;

  background: linear-gradient(
    135deg,
    #7c3aed,
    #a855f7
  );

  padding: 14px 28px;
  border-radius: 30px;
  font-weight: bold;

  transition: 0.3s;
}

.social-links a:hover {
  transform: scale(1.08);
}

button {
  margin-top: 35px;

  padding: 14px 35px;

  border: none;
  border-radius: 30px;

  background: #facc15;
  color: #000;

  font-weight: bold;
  font-size: 16px;

  cursor: pointer;
}

button:hover {
  background: #fde047;
}

@media(max-width:768px){

  .profile-img{
    width:150px;
    height:150px;
  }

  h1{
    font-size:2.5rem;
  }

  .role{
    font-size:1.3rem;
  }

  .about{
    font-size:1rem;
  }
}